html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato;



}

#content{
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:"header"
    "main" ;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: header;
    background-color: #ffffff;
    padding-bottom: 15px;
}

#header-title{
    color: #5d576b;
    font-size: 3rem;
    padding: 0;
    margin: 1.5%;
    font-weight: bold;
}

.header-tab-styles{
    font-size: 1.5rem;
    border-style: none;
    background:none;
    padding:0 50px;

}

.main-container{
    grid-area:main;
    font-family: Raleway;
}

.main-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-title{
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-bottom: 1%;
}

#welcome-subtitle{
    font-size: 2rem;
}

#view-menu-button{
    border-style: none;
    background-color: #ed6a5a;
    color: #ffffff;
    font-size: 2rem;
    margin-top: .5%;
    font-weight: bold;
    padding: .5% 1.5%;

}


#menu-content-container{
    background-color: #5d576b;
    color: #ffffff;

}

.menu-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

#menu-top-subtitle{
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

#menu-title{
    font-size: 3rem;
    padding: 0;
    margin: 0;
    font-weight: 600;
    margin-bottom: 15px;
}

#menu-subtitle{
    font-size: 1.5rem;
    font-weight: 500;
}

.menu-div-container{
    display:grid;
    gap: 30px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;

}

.menu-div{
    background-color: #656073;
    width: 25vw;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content auto;
    grid-template-areas:
    "cube title"
    ". subtitle";
    padding: 30px;
    align-items: center;


}

.menu-div-icon{
    height: 40px;
    grid-area: cube;
    margin-right: 30px;

}

.menu-div-title{
    grid-area: title;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.menu-div-subtitle{
    grid-area: subtitle;
    font-size: 1.2rem;
}
